<!-- BEGIN: Aside Menu -->
<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
  <ul class="m-menu__nav ">
    <li class="m-menu__section m-menu__section--first">
      <h4 class="m-menu__section-text">Directions</h4>
      <i class="m-menu__section-icon flaticon-more-v2"></i>
    </li>
    <li class="m-menu__item  {% if page.title  == "home" %}m-menu__item--active{% endif %}" aria-haspopup="true"><a href="{% url "home" %}" class="m-menu__link "><span class="m-menu__item-here"></span><i class="m-menu__link-icon flaticon-file-2"></i><span class="m-menu__link-text">Dashboard</span></a></li>
    <li class="m-menu__item  {% if page.title  == "model" %}m-menu__item--active{% endif %}" aria-haspopup="true"><a href="{% url "model" %}" class="m-menu__link "><span class="m-menu__item-here"></span><i class="m-menu__link-icon flaticon-folder-3"></i><span class="m-menu__link-text">Upload ML Model</span></a></li>
    </ul>
</div>
<!-- END: Aside Menu -->
